@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

/* reset */
*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* base style */


:root {
    font-size: 10px;
    --raleway-500: "Raleway";
    --notosanstc-400: "Noto Sans TC";
    --quicksand-400: "Quicksand";
}

html {
    scroll-behavior: smooth;
}



a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

img {
    width: 100%;
}

/* mobile styling */

header {
    /* position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 1000; */
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.5);
}

nav {
    background: #4185f4;
    position: relative;
    font-size: 10px;
    width: 100%;
}

.logo {
    width: 15em;
    padding-left: 1.5em;
    cursor: pointer;
}

.toggle {
    position: absolute;
    top: 7px;
    right: 10px;
    font-size: 3.4em;
    color: #ebe8e8;
    z-index: 1000;
}

.nav-list {
    text-align: center;
    padding: 20px 0;
    display: none;
}

.nav-list.active {
    display: flex;
    flex-direction: column;
}

.nav-list.active li {
    padding: 5px;
}

.nav-list li {
    padding-top: 5px;
}

.nav-list .nav-item .nav-link {
    font-size: 18px;
    text-transform: uppercase;
    color: #111;
    font-weight: 100;
}

.nav-item::after {
    content: "";
    width: 0;
    height: 2px;
    display: block;
    text-align: center;
    background: #FFEB3B;
    margin: 0 auto;
    transition: .2s ease-in;
}

.nav-item:hover::after {
    width: 110%;
}

.news-wrapper {
    position: relative;
    max-width: 100%;
}

.news-header {
    display: block;
    position: absolute;
    font-size: 20px;
    font-weight: 700;
    background-color: #dd2d2d;
    font-style: italic;
    letter-spacing: 2px;
    color: #f2f2f2;
    padding: 4.2px 0 4.2px 4.2px;
    z-index: 2;
}

.news-header::before {
    content: "";
    width: 0;
    position: absolute;
    border-width: 31px;
    border-style: solid;
    top: 0;
    z-index: -1;
}

.news-header::before {
    border-color: #dd2d2d transparent transparent transparent;
    right: -30px;
}


.news-update {
    height: 31.3px;
    white-space: nowrap;
    background-color: #FFEB3B;
    position: relative;
    color: #757575;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 16px;
    display: flex;
    align-items: center;
    overflow: hidden;

}

.news-update p {
    position: absolute;
    width: 150%;
    margin: 0;
    text-align: left;
    transform: translateX(100%);
    animation: moving 25s linear infinite;
}

@keyframes moving {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

/* main {
    perspective: 50rem;
} */


/* header.active::before {
    transform: translate(0, 0);
    opacity: 1;
    transition: opacity 0.5s;
}

.active .zoom-content {
    transform: translate3d(0, 0, -50rem);
    transition: transform 0.6s;
} */

.banner-text-container {
    width: 95%;
    margin: 50px 0;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.banner-text-container .banner-header {
    color: #196c92;
    font-size: 2.5rem;
    text-align: center;
    padding-top: 50px;
}

.banner-header {
    text-transform: uppercase;
}

.banner-text-container .banner-header {
    margin-bottom: 30px;
}

.banner-text-container .banner-text p {
    font-size: 1.8rem;
    text-align: center;
    color: #757575;
    padding-top: 20px;
}

.banner-img {
    width: 100%;
}


.faculty-title {
    width: 95%;
    margin: 30px auto 50px auto;
}

.faculty-title h3 {
    font-size: 25px;
    /* color: #757575; */
    color: #196c92;
    font-weight: 400;
    text-align: center;
    position: relative;
    padding-bottom: 8px;
    font-family: var(--notosanstc-400);
}

.faculty-title h3::after {
    content: "";
    width: 15%;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid #4185F4;
}

.faculty-container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    /* margin: 0 auto; */
}


.faculty-card {
    width: 25rem;
    height: 12rem;
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.171);
    position: relative;
    transform: scale(1);
}

.faculty-card:hover {
    transform: scale(1.1);
    transition: transform .3s;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.3);
}



.faculty-card .faculty-card-img {
    width: 50px;
    height: 50px;
    position: absolute;
    top: -27px;
    left: 40%;
    transform: translateX(10%);
    border-radius: 50%;
    background: #fff;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.171);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transform: translateX(10%);
    -moz-transform: translateX(10%);
    -ms-transform: translateX(10%);
    -o-transform: translateX(10%);
}

.faculty-card-img img {
    width: 80%;
    margin: 4px 5px;
}

.faculty-card-header {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}



.faculty-card-header h3 {
    font-size: 2rem;
    color: #757575;
    text-align: center;
    font-family: sans-serif;
    font-weight: 200;
}

.about-us-container {
    width: 100%;
}

.about-us-title {
    width: 95%;
    margin: 30px auto 50px auto;
}

.about-us-title h3 {
    font-size: 25px;
    /* color: #757575; */
    color: #196c92;
    font-family: var(--notosanstc-400);
    font-weight: 400;
    text-align: center;
    position: relative;
    padding-bottom: 8px;
}

.about-us-title h3::after {
    content: "";
    width: 15%;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid #4185F4;
}

.about-us-card {
    width: 25rem;
    height: 30rem;
    padding-top: 10px;
    margin: 10px auto;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.171);
    transform: scale(0.9);
    transition: transform .3s ease-in;
}

.about-us-card:hover {
    transform: scale(1);
}

.about-us-card-img {
    width: 10rem;
    height: 10rem;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.171);
    border-radius: 50%;
    margin: 30px auto 20px auto;
}

.about-us-card-img img {
    border-radius: 50%;
}

.about-us-card-title {
    font-size: 1.5rem;
    font-family: var(--quicksand-400);
    color: #757575;
    text-align: center;
}

.about-us-card-body {
    border-top: 1px solid rgba(0, 0, 0, 0.171);
    margin-top: 25px;
}

.about-us-card-body h4 {
    text-align: left;
    font-size: 1.5rem;
    font-family: var(--quicksand-400);
    font-weight: 400;
    color: #757575;
    padding-top: 10px;
    margin-left: 30px;
}

.btn-up {
    position: sticky;
    padding: 14px 16px;
    bottom: 40px;
    left: 85%;
    width: 50px;
    height: 50px;
    background-color: #4185f4;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 22px;
    z-index: 1000;
}

.footer-text {
    font-size: 16px;
    font-family: var(--raleway-5000);
    font-weight: 100;
    color: #757575;
    text-align: center;
    margin-top: 30px;
}

/* faculty page styling */

.faculty-banner {
    height: 100vh;
    width: 100%;
    position: relative;
}


.faculty-banner .faculty-banner-img {
    height: 100%;
    position: relative;
}

.faculty-banner-img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
}

.faculty-banner-img img {
    height: inherit;
}

.faculty-banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.faculty-banner-text h1 {
    font-size: 4rem;
    white-space: nowrap;
    text-align: center;
    color: #f2f2f2;
    font-weight: 700;
    font-family: var(--raleway-500);
    text-shadow: 2px 3px 4px 3px rgba(0, 0, 0, 0.6);
}


/* department styling */


@media screen and (min-width:768px) {
    .main-nav {
        display: flex;
        justify-content: space-between;
    }

    .nav-list {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0;
    }

    .nav-list .nav-item .nav-link {
        display: block;
        padding: 0 18px;
    }


    .toggle {
        display: none;
    }

    .news-header {
        padding: 3.9px 0 3.9px 30px;
    }

    .wrapper {
        margin: 0 20px;
    }


    .banner-container {
        display: flex;
        margin-top: 35px;
    }

    .banner-text-container {
        width: 60%;
    }

    .banner-text-container .banner-text p {
        text-align: left;
    }


    .banner-img {
        width: 100%;
        margin-top: 50px;
    }

    .banner-text-container .banner-header {
        text-align: center;
        padding-top: 40px;
    }



    .faculty-container {
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 80%;
        margin: 0 auto;
    }

    .about-us-container {
        display: flex;
        justify-content: center;
    }

    .about-us-card {
        margin: 0;
    }
}

@media screen and (min-width:853px) {
    .banner-text-container .banner-header {
        margin-top: 40px;
    }

    .banner-container {
        justify-content: space-between;
        align-items: center;
    }

    .banner-img {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .banner-img img {
        width: 90%;
    }
}